body {
  background-color:  #e6ffff;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
}

p {
  color: white;
  opacity: 0.8;
  transition: opacity 0.4s;
}

p:hover {
  opacity: 1;
  font-size: 13px;
}
