body {
  background-color: #fe247b;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 30px;
}

.button {
  cursor: pointer;
  z-index: 10;
}

@keyframes moveRight {
  from { transform: translateX(0%); }
  to   { transform: translateX(40%); }
}

@keyframes moveLeft {
  from { transform: translateX(-40%); }
  to { transform: translateX(0%); }
}

.rain1 {
  fill: none;
  stroke: #bbecf9;
  stroke-miterlimit: 10;
  stroke-width: 8px;
  padding: 0;
  width: 100%;
}

.rain3 {
  animation: moveRight 5s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.thunder2 {
  fill:#0256CE;
}

<<<<<<< HEAD
=======
.thunder2 {
  fill:#0256CE;
}

>>>>>>> a231cf606e8b6fbc56c645f6ba66391545dfd91d
.thunder3 {
  animation: moveRight 5s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

<<<<<<< HEAD
 .bird2 {
=======
 .bird2 { 
>>>>>>> a231cf606e8b6fbc56c645f6ba66391545dfd91d
  fill:none;
  stroke:#7000B2;
  stroke-width:3;
  stroke-miterlimit:10;
<<<<<<< HEAD
}

.bird3 {
    -webkit-transition: -webkit-transform 25s ease-in-out;
    transition: transform 25s ease-in-out;
    transition-property: transform;
    transition-duration: 25s;
    transition-timing-function: ease-in-out;
=======
>>>>>>> a231cf606e8b6fbc56c645f6ba66391545dfd91d
}

.city2 {
  fill:#f7f1ad;
  scale: 20%;
}

.city3 {
  animation: moveLeft 2s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.city4 {
  animation: moveRight 4s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.city5 {
  animation: moveRight 3s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.city6 {
  animation: moveRight 1s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.city7 {
  animation: moveRight .5s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.fire2{
  fill:#FFB15C;
  opacity: 20%;
}

<<<<<<< HEAD

.fire3 {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;/*How long the transition is*/
        width: 300px;/*final width*/
    height: 300px;/*final height*/
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);/*spin*/
}


=======
.fire3 {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

>>>>>>> a231cf606e8b6fbc56c645f6ba66391545dfd91d
.honk2 {
  width: 100%;
}

.honk3 {
    -ms-transform: rotate(7deg); 
    -webkit-transform: rotate(7deg); 
    transform: rotate(7deg);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.wind2 {  
    fill:#f2b55c;
}

.wind3 {
  position: relative;
  transform: rotate(180deg) scale(2);
}

.background {
  float:left;
  padding: 5%;
  width: 100%;
  height: 100%;
  display: none;
}

@keyframes moveRight {
  from { transform: translateX(0%); }
  to   { transform: translateX(40%); }
}

@keyframes moveLeft {
  from { transform: translateX(-40%); }
  to { transform: translateX(0%); } 
}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(2); }
}

@-webkit-keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(70deg); }
} 
