.body {
  background-color: lightcyan;
}


@media (max-width: 1100px) {
  body {
     background-color: white;
   }

}

@media (min-width: 1000px) {
  body {
     background-color: yellow;
   }

}

@media (max-width: 900px) {
  body {
     background-color: blue;
   }

}

@media (max-width: 700px) {
  body {
     background-color: black;
   }

}
