.body {
  background-color: lightcyan;
}


@media (max-width: 400px) {
  body {
     background-color: white;
   }

}

@media (max-width: 300px) {
  body {
     background-color: yellow;
   }

}

@media (max-width: 200px) {
  body {
     background-color: blue;
   }

}

@media (max-width: 800px) {
  body {
     background-color: black;
   }

}
