body {
  background-color: mediumpurple;
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}

p {
  color: white;
  opacity: 1;
  transition: opacity 0.4s;
}

p:hover {
  opacity: 0.2;
}

a {
    background: bisque;
    border: none;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    width: 100px
}

a:before{
    background: bisque;
    border: none;
    content: '';
    display: block;
    height: 28px;
    left: 90px;
    position: absolute;
    top: 4px;
    width: 21px;
}
a button {
    color: darkviolet;
    background: none;
    border: none;
    font-weight: bold;
    position: relative;
    width: 120px;
    height: 28px;
}
