body {
    background: lightcyan;
    font-family: 'Passion One', cursive;
    font-size: 35px;
}
img {
    display: block;
    margin: auto;
    width: 15%;
}

p {
    color: pink;
    font-size: 125%;
}

.box_textshadow {
    text-shadow: 0px 0px 0px #000000;
}
