html {
box-sizing: border-box;
font-family: arial;
font-size: 20px;
}

*, *:before, *:after {
 box-sizing: inherit;

}
.gridcontainer  {
max-width: 1000px;
margin-left: auto;
margin-right: auto;
align: center;
}

.gridcontainer:after,

.gridcontainer-fluid:after,

.gridrow:after {
  content: '';
  display: table;
  clear: both;
}

.gridcol {
  float: left;
  border: 2px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 15px;
}

.gridcol1 {
  width: 8.33%;
}

.gridcol2 {
  width: 16.66%;
}

.gridcol3 {
  width: 25%;
}

.gridcol4 {
  width: 33.33%;
}

.gridcol5 {
  width: 41.66%;
}

.gridcol6 {
  width: 50%;
}

.gridcol7 {
  width: 58.33%;
}

.gridcol8 {
  width: 66.66%;
}

.gridcol9 {
  width: 75%;
}

.gridcol10 {
  width: 83.33%;
}

.gridcol11 {
  width: 91.66%;
}

.gridcol12 {
  width: 100%;
}

