div {
  transition: all 0.3s ease;
  animation-duration: 4s;
}

body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}

p {
  color: white;
  opacity: 0.8;
  transition: opacity 0.4s;
}

p:hover {
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
