body {
background: black;
 }

 @keyframes example {
     from {background-color: red;}
     to {background-color: white;}
 }
  div {
      width: 100px;
      height: 100px;
      animation-name: scroll;
      animation-duration: 4s;
  }

